<mat-toolbar  class="navbar">
  <button
    mat-icon-button
    class="button-main"
    aria-label="Example icon-button with menu icon"
  >
    <div class="circulo"></div>
    <p class="parrafo-name">
      <span><</span>Jordan Huaman<span>>/</span>
    </p>
  </button>
  <span class="spacer"></span>
  <div class="navbar-links">
    <button
      class="button-links"
      aria-label="Example icon-button with heart icon"
    >
      <p>Start</p>
    </button>
    <button
      class="button-links"
      aria-label="Example icon-button with share icon"
      (click)="scrollTo('contenido-proyectos')"
    >
      <p>About</p>
    </button>
    <button
    class="button-links"
    aria-label="Example icon-button with share icon"
  >
    <p>Experience</p>
  </button>
  </div>
</mat-toolbar>
