<section class="center-about">
  <div class="about_main">
    <p>Start>/ </p>
    <div>
      <p class="about-main_text">
        Hi, My name is <span class="about-main_text-name">Jordan Huaman</span>
      </p>
      <div class="container-animation">
        <p>Hello 👋🏿 I am</p>
        <section class="animation">
          <div class="first">Software Engineer</div>
          <div class="second">Software Development</div>
        </section>
      </div>
    </div>
    <p>Let me show You ....</p>
  </div>
</section>
